
.App {
  text-align: center;
  padding:75px;
  font-family: monospace;
}
.App,
#root,
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.me {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.me H1 {
  width: 550px;
  text-align: left;
  font-size: 4em;
  padding-right: 80px;
}
.me img {
  width: 400px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}
.hover {
  font-size: 1.5em;
  text-align: right;
  padding: 20px;
  margin-right: 275px;
  margin-left: 300px;
  position: absolute;
}
.landing-btn {
  display:flex;
  flex-direction: column;
  margin: 20px;
  padding: 5px;
  font-family: monospace;
  font-size: 2em;
  border-radius: 5px;
}
.landing-btn:hover {
  cursor: pointer;
  opacity: 0.7;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}
.project-page {
  font-size: 2em;
}
.project-page img {
  width: 600px;
  padding: 20px;
  border: 2px solid black;
  margin: 20px;
  border-radius: 10px;
}
.pics {
  display: flex;
  justify-content: center;
}
.babes img {
  width: 275px;
}
.home {
  display: flex;
  padding: 5x;
  font-family: monospace;
  font-size: .75em;
  border-radius: 5px;
}
.home:hover {
  cursor:pointer;
  opacity: 0.7;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}
.projects {
  display: flex;
  flex-direction: column;
}
.description {
  text-align: left;
}
.links {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.code-link, .project-link {
  border: 1px black;
  padding: 5px;
  text-decoration: none;
  color:black;
  outline: 2px solid black;
  cursor: pointer;
  border-radius: 5px;
  margin: 7px;
}
.code-link:hover, .project-link:hover{
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  color:black;
  cursor: pointer;
  opacity: 0.7;
  font-weight: bold;
}
.taco {
  display: flex;
  flex-direction: row;
 }
.music {
  display: flex;
  flex-direction: row;
}
.termagotchi {
  display: flex;
  flex-direction: row;
}
.happy {
  display: flex;
  flex-direction: row;
}
